.header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // &__menu{
    // display: flex;
    // justify-content: space-between;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // &__list{
    // padding-right: 45px;    
}

.menu__btn{
    margin-left: 35px;
}