.footer {
    background-color: $background;
    min-height: 369px;
    margin: 0 auto;
    position: relative;
    
    // overflow-x: hidden;
    
    &__img{
        position: absolute;
        left: 1190px;
        bottom: 0;
        // z-index: -1;        
        // float: right;
       
    }    

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 104px;
        padding-bottom: 77px;       
    }

    &__box {
        cursor: pointer;

        &-title {
            font-size: $fontSize;
            font-weight: $fontWeight;
            text-transform: uppercase;
            color: #000A01;
            opacity: 1;
            padding: 0;
        }

        &-list {
            font-size: $fontSize;
            font-weight: 500;
            text-transform: uppercase;
            color: #000A01;
            opacity: $textOpacity;
            line-height: 1.6;
            padding: 0;
        }

        &-item {
            padding: 0;
            padding-bottom: 15px;
        }

        .social__list {
            display: flex;
            justify-content: space-between;
            gap: 12px;
            padding: 0;
            color: rgb(0, 0, 0);
            
            &-item a {
                cursor: pointer;
            }
        }
    }

    
}    
