.great {
    padding-bottom: 130px;

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    &__left-cards {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 40px;
        max-width: 528px;
        gap: 24px;
    }

    .img {
        margin: 29px 0px 0px 41px;
    }

    .inner {
        display: flex;
        flex-direction: column;
        padding-left: 42px;
    }

    .title {
        font-size: 32px;
        font-weight: 600;
        color: $colorText;
        padding-top: 40px;
    }

    .text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        color: $colorNav;
        opacity: $textOpacity;
        margin: 0;
        padding-top: 15px;
        margin-right: 35px;
    }

    .price {
        font-size: 24px;
        font-weight: $fontWeight;
        color: $primaryColor;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 38px;
    }

    .block {
        display: flex;
        justify-content: space-between;
        background-color: $background;
    }

    &__left-text {
        font-size: $fontSize;
        font-weight: $fontWeight;
        color: $colorNav;
        opacity: $textOpacity;
        line-height: 1.6;
    }

    &__right-title {
        font-size: $titleSize;
        font-weight: $titleWeight;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    &__right-card {
        display: flex;
        justify-content: space-between;
        background-color: $background;
        max-width: 528px;
    }

    .img {
        margin: 40px 43px 0px 23px;
    }

    .inner {
        flex-direction: column;
        padding-right: 47px;
    }

    .title {
        font-size: 32px;
        font-weight: 600;
        padding-top: 40px;
        color: $colorText;
    }

    .text {
        font-size: 14px;
        font-weight: 400;
        color: $colorNav;
        opacity: $textOpacity;
        margin: 0;
    }

    .price {
        font-size: 24px;
        font-weight: $fontWeight;
        color: $primaryColor;
        margin: 0;
        padding-bottom: 35px;
    }

    .btn {
        margin-top: 38px;
    }
}

@media (max-width: 1074px) {
    .great {

        .img {
            margin: 40px 0px 0px 0px;
        }

        &__left-cards,
        &__left-text {
            max-width: 485px;
        }

        &__right-card.img {
            margin-bottom: 33px;
        }
    }
}

@media (max-width: 970px){
    .great{
        &__content {
            display: flex;
            flex-wrap: wrap;
        }

        &__left {
            margin: 0 auto;
            max-width: 100%;
        }

        &__left-cards{
            margin: 0 auto;
        }        
        
        &__left-text{
            max-width: 100%;
            text-align: center;
            margin: 0 auto;
            margin-top: 40px;
        }

        &__right{
            order: -1;
            margin: 0 auto;
        }

        &__right-title{
            font-size: 50px;
            text-align: center;
        }

        .btn{
            margin-bottom: 20px;
            margin-left: 190px;
        }
    }

}

@media (max-width: 650px){
    .great {
        &__right-title{
            font-size: 45px;
        }
    }

}
