.great {
    padding-bottom: 130px;

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    &__left {
        &-cards {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: $background;
            // row-gap: 24px;
            margin-bottom: 40px;
            min-width: 528px;
            gap: 24px;

            .img{
                // padding-right: 42px;
                margin: 29px 0px 28px 41px;
            }

            .inner {
                display: flex;
                // justify-content: space-between;
                flex-direction: column;
                padding-left: 42px;
                // margin-right: 45px;
            }

            .title {
                font-size: 32px;
                font-weight: 600;
                color: $colorText;
            }

            .text {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.6;
                color: $colorNav;
                opacity: $textOpacity;
                // margin-right: 45px;
            }

            .price{
                font-size: 24px;
                font-weight: $fontWeight;
                color: $primaryColor;                
            }

            &-card {
                display: flex;
                justify-content: space-between;
                
                // padding: 29px 47px 28px 41px;
                
            }

            .block {
                display: flex;
                justify-content: space-between;
            }
        }

        &-text {
            font-size: $fontSize;
            font-weight: $fontWeight;
            color: $colorNav;
            opacity: $textOpacity;
        }

    }

    .great__right {
        &-title {
            font-size: $titleSize;
            font-weight: $titleWeight;
            margin-top: 0;
            // padding-bottom: 60px;
        }

        &-card {
            display: flex;
            justify-content: space-between;
            background-color: $background;
            // width: 528px;
            // height: 256px;
            // padding: 40px 47px 35px 23px;

            .img {
                // padding-right: 42px;
                margin: 40px 43px 33px 23px;
            }

            .inner {
                flex-direction: column;
                // padding-right: 47px;
            }

            .title {
                font-size: 32px;
                font-weight: 600;
                // line-height: 1.6;
                color: $colorText;
                // padding-bottom: 15px;
            }

            .text {
                font-size: 14px;
                font-weight: 400;
                // line-height: 1.6;
                color: $colorNav;
                opacity: $textOpacity;
                // padding-bottom: 20px;
            }

            .price{
                font-size: 24px;
                font-weight: $fontWeight;
                color: $primaryColor;                
            }
        }
    }

    &__btn {
        margin-top: 38px;
    }
}