.initiative {
    padding-bottom: 130px;
    min-height: 637px;

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }

    &__left {
        &-img {
            background-color: $background;
            padding: 31px 65px 32px 64px;
            margin-bottom: 60px;
        }

        &-list {
            max-width: 464px;
        }
    }

    .initiative__left-item {
        position: relative;
        font-size: $fontSize;
        font-weight: $fontWeight;
        line-height: 1.6;
        color: rgb(8, 24, 0, 0.6);
        padding-left: 66px;

        &::before {
            content: '';
            position: absolute;
            background-image: url(..//..//img/decor.svg);
            width: 40px;
            height: 40px;
            top: 10px;
            left: 0;
        }
    }

    &__right {
        &-title {
            font-size: $titleSize;
            font-weight: $titleWeight;
            line-height: 1.4;
            margin-top: 0;
            padding-bottom: 60px;
        }

        &-img {
            background-color: $background;
            padding: 31px 65px 32px 64px;
        }
    }
}

// media

@media (max-width: 1080px) {
    .initiative {
        &__right-title {
            font-size: 50px;
        }
    }
}

@media (max-width: 900px) {
    .initiative {
        padding-bottom: 70px;        
        &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;            
    }

    &__left {
        margin: 0 auto;
    }

    &__left-item {
        font-size: 16px;
    }

    &__right{
        order: -1;
        margin: 0 auto;
    }

    &__right-title {
        font-size: 45px;
        padding-top: 60px;
        text-align: center;
    }
}
}

@media (max-width: 650px) {
    .initiative {
        &__content {
            order: 1;

        }

        &__right-title{
            font-size: 45px;
        }
    }
}

@media (max-width: 419px){
    // .initiative__left-item{
    //     font-size: 10px;
    //     line-height: 1.4;
    //     padding-left: 50px;
    //     &::before {
    //         width: 35px;
    //         height: 35px;
    //         top: 5px;
    //     }
    // }
    .initiative{
        &__right-title{
            font-size: 35px;
            line-height: 40px;
        }
    }
}



@import '../layout/media';