.lungs {
    padding-bottom: 130px;
    min-height: 577px;

    .lungs__content {
        display: flex;
        justify-content: space-between;
        gap: 60px;

        .lungs__left {
            max-width: 584px;

            .lungs__title {
                margin-top: 0;
                font-size: 57px;
                font-weight: 800;
                line-height: 1.4;
                margin-bottom: 60px;
            }

            .lungs__img {
                background-color: $background;
                padding: 57px 45px 50px 49px;
            }
        }

        .lungs__right {
            max-width: 436px;

            .lungs__img-right {
                background-color: $background;
                padding: 15px 27px 2px 26px;
            }

            .lungs__text {
                padding-top: 42px;
                margin-bottom: 30px;
                opacity: $textOpacity;
                line-height: 1.6;
            }
        }
    }

}