main {
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;

    .main__img{
        background-color: $background;   
        transform: translateY(-17%);    
        z-index: 0; 
    }

    .main__title {

        font-size: 60px;
        font-weight: 800;
        color: $colorText;
        padding-bottom: 36px;

        span {
            font-size: 80px;
            font-weight: 800;
            color: $primaryColor;
        }
    }


    .main__content {
        // max-width: 528px;

        .main__text {
            color: $colorText;
            line-height: 1.6;
        }

        .main__info {
            display: flex;
            justify-content: flex-start;

            .main__info-item {
                font-size: 43px;
                font-weight: 700;
                color: $primaryColor;
                line-height: 1.6;

                .main__info-text {
                    font-size: 18px;
                    font-weight: 600;
                    color: $colorText;
                    padding-right: 102px;
                }
            }
        }
    }
}
