main{
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;


    .main__content{
        padding-top: 87px;
        .main__title{
            font-size: 60px;
            font-weight: 800;
            color: $colorText;
            span{
                font-size: 80px;
                font-weight: 800;
                color: $primaryColor;
            }
        }
       
          
    }
    
   
}