.main {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
    z-index: 5;
    margin: 0;

    &::after {
        content: '';
        width: 47%;
        height: 91%;
        background-color: $background;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &__img {
        // min-height: 840px;  
        margin: 0;
        padding: 0;
        // margin-top: -104px;
        // margin-left: 53px;
        // margin-bottom: 30px;
        // z-index: -1;
        transform: translate(34%, -13%);
    }

    &__title {
        transform: translateX(-22%);
        z-index: 10;
        font-size: 60px;
        font-weight: $titleWeight;
        color: $colorText;
        margin-top: 87px;
        line-height: 1.3;

        span {
            font-size: 80px;
            font-weight: 800;
            color: $primaryColor;
        }
    }

    &__content {
        max-width: 528px;

        &-text {
            color: $colorText;
            opacity: $textOpacity;
            line-height: 1.6;
            padding-bottom: 45px;
        }
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        padding-top: 74px;

        &-item {
            font-size: 43px;
            font-weight: 700;
            color: $primaryColor;
        }

        &-text {
            font-size: 18px;
            font-weight: 600;
            color: $colorText;
            opacity: $infoTextOpacity;
            padding-right: 102px;
        }
    }
}