
.header__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .header__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 63px;
        justify-content: space-between;
        .menu{
            display: flex;
            justify-content: space-between;            
            .menu__list{
                padding-right: 45px;
                color: $colorNav;
                opacity: $navOpacity;
                transition: .5s ease-in; 
                &:hover{
                    color: $primaryColor;
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }
        }
        .menu__btn{
            margin-left: 35px;
            transition: .5s ease-in;
            &:hover{
                background-color: #51C815;
                box-shadow: 8px 8px 0px #081800;
                border: #51C815;
                transition: .5s ease-in;
            }
        }
    }
}