.header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .header__menu {
        display: flex;
        justify-content: space-between;

        .nav__menu-list {
            display: flex;
            justify-content: space-between;

            .nav__menu-item {
                padding-right: 45px;
                color: $colorNav;
                opacity: $navOpacity;
                cursor: pointer;
                transition: .3s ease-in;

                &:last-child {
                    padding-right: 80px;
                }

                &:hover {
                    display: block;
                    color: $primaryColor;
                    opacity: 1;
                    transition: .3s ease-in;
                }
            }
        }
    }
}