.video {
    padding-bottom: 130px;

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }

    &__left {
        position: relative;
    }

    &__left-title {
        margin-top: 0;
        font-size: $titleSize;
        font-weight: $titleWeight;
        line-height: 1.4;
        margin-bottom: 60px;
    }

    &__left-img {
        background-color: $background;
        padding: 48px 74px 51px 74px;
    }

    &__left-play {
        content: '';
        position: absolute;
        z-index: 10;
        top: 360px;
        left: 156px;
        border: none;
    }

    &__right {
        position: relative;
    }

    &__right-img {
        background-color: $background;
        margin: 0;
        padding: 0;
        padding-left: 54px;
    }

    &__right-text {
        margin: 0;
        padding-top: 40px;
        color: $colorText;
        opacity: $textOpacity;
        line-height: 1.6;
    }

    &__right-play {
        content: '';
        background-image: url(..//..//img/play.png);
        width: 126px;
        height: 126px;
        position: absolute;
        z-index: 10;
        top: 170px;
        left: 202px;
    }
}

@media (max-width: 900px) {
    .video {
        &__content {
            display: flex;
            flex-wrap: wrap;
        }

        &__left-title {
            font-size: 45px;
            text-align: center;
        }

        &__left-play {
            top: 500px;
            left: 345px;            
            max-height: 200px;
        }

        &__right-img{
            align-items: center;
        }
    }
}

@media (max-width: 650px) {}