.video{
    padding-bottom: 130px;
    &__content{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        

    }
    .video__left{
        // width: 499px;
        &-title{
            margin-top: 0;
            font-size: $titleSize;
            font-weight: $titleWeight;
            line-height: 1.4;
            margin-bottom: 60px;
        }
        &-img{
            background-color: $background;
            padding: 48px 74px 51px 74px;
        }
    }

    .video__right{
        &-img{
            background-color: $background;            
            padding: 40px 0px 39px 54px;
        }
        &-text{
            color: $colorText;
            opacity: $textOpacity;
            line-height: 1.6;

        }
    }
}