.video{
    padding-bottom: 130px;
    &__content{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        

    }
    .video__left{
        // width: 499px;
        &-title{
            font-size: 57px;
            font-weight: 800;
            line-height: 1.4;
        }
        &-img{
            background-color: $background;
            padding: 48px 74px 51px 74px;
        }
    }

    .video__right{
        &-img{
            background-color: $background;
            padding: 40px 55px 39px 54px;
        }
    }
}