$primaryColor: #418A1C;
$colorText: #081800;
$textOpacity: 0.6;
$background: #F7FFEC;
$backgroundBtn: #081800;
$shadowBtn: 8px 8px 0px #51C815;
$colorNav: #101C02;
$navOpacity: 0.5;
$fontSize: 18px;
$fontWeight: 700;
$infoTextOpacity: 0.7;